/* Footer */
a {
    text-decoration: none;
    font-size: 17Px;
}
p {
    font-size: 17px;
}
a:hover {
    color: $color-rosa;
}

i {
   font-size: 25px; 
}

.navbar .navbar-expand-lg{
   background: $color-rosa;
}



   