
$multicolor: linear-gradient(
    90deg,
    rgb(222, 125, 184)0%,
    rgb(170, 138, 240)70%
);

$color-blanco: #fff;
$color-azul: blue;
$color-rosa:#ff47a7;
$color-negro:black;
$color-negroc:rgba(0, 0, 0, 0.2);